<a href="https://colab.research.google.com/github/salisuyahaya/Cotton-Disease-Prediction-Deep-Learning/blob/master/hausa_sentiment_analysis_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!unzip "/content/hausa-sentiment-analysis.zip"

In [ ]:
#!pip install --quiet optuna

     |████████████████████████████████| 308 kB 4.3 MB/s
     |████████████████████████████████| 81 kB 9.4 MB/s
     |████████████████████████████████| 210 kB 45.0 MB/s
     |████████████████████████████████| 75 kB 4.4 MB/s
     |████████████████████████████████| 150 kB 47.2 MB/s
     |████████████████████████████████| 49 kB 6.4 MB/s
     |████████████████████████████████| 113 kB 54.1 MB/s
  Building wheel for pyperclip (setup.py) ... done

In [25]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import re
import string
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import xgboost as xgb 
from xgboost import XGBClassifier
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import AdaBoostClassifier
from sklearn.svm import SVC

from sklearn import metrics
#import optuna
#from optuna.trial import TrialState

from sklearn import svm



from numpy import array

**LOAD DATA**

In [26]:
 train = pd.read_csv('/content/train (2).csv', encoding='UTF-8')
test = pd.read_csv('/content/test (1).csv', encoding='UTF-8')

**EDA + VISUALIZATIONS**

In [27]:
#Get summary of the training data
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        240 non-null    int64
 1   NewsText  240 non-null    object
 2   label     240 non-null    int64
dtypes: int64(2), object(1)
memory usage: 5.8+ KB

In [28]:
#display first rows of the training dataset
train.head()

     id                                           NewsText  label
0  1553   Sannan ya ringa yin fina-finai a kan matsalol...      1
1  1059                     Karanta cikakken labarin a nan      0
2  1006  Tuni dai Saudiyya ta ce za ta kaddamar da aiki...      1
3  1242  Wannan zai hana raguwar darajarsa kamar yadda ...     -1
4  1221  Ba shi da wata iyaka, ma'ana iya shafukan da z...      0

In [29]:
#import nltk
#nltk.download('stopwords')
#from nltk.corpus import stopwords
#stop = stopwords.words('english')

In [30]:
#train['tweet_without_stopwords'] = train['NewsText'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [31]:
#train = train.applymap(lambda s: s.lower() if type(s) == str else s)

In [32]:
#train.columns = train.columns.str.replace('[#,@,&]', '')

In [33]:
train.head()

     id                                           NewsText  label
0  1553   Sannan ya ringa yin fina-finai a kan matsalol...      1
1  1059                     Karanta cikakken labarin a nan      0
2  1006  Tuni dai Saudiyya ta ce za ta kaddamar da aiki...      1
3  1242  Wannan zai hana raguwar darajarsa kamar yadda ...     -1
4  1221  Ba shi da wata iyaka, ma'ana iya shafukan da z...      0

In [34]:
#import nltk
#nltk.download('stopwords')
#from nltk.corpus import stopwords
#stop = stopwords.words('english')

In [35]:
#test['tweet_without_stopwords'] = test['NewsText'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [36]:
#test = test.applymap(lambda s: s.lower() if type(s) == str else s)
#print(test)

In [37]:
#Get summary of the testing data
#test.info()

In [38]:
#display first rows of the testing dataset
test.head()

     id                                           NewsText
0  1278  Mene ne sakamakon zaben?"Hukumar zabe ta ayyan...
1  1721  Gwamnatin Najeriya ta ce an sako yaran ne lami...
2  1180  "An biya kuɗin fansa kafin a sake su, amma ba ...
3  1009  Rahotanni sun ce an shafe tsawon sa’a takwas a...
4  1588  Ya karbi lambobin yabo a gida Najeriya da kuma...

# MODELS

**Logistic Regresson**

In [39]:
#vectorizer:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
train_matrix = vectorizer.fit_transform(train['NewsText'])
test_matrix = vectorizer.transform(test['NewsText'])

In [40]:
X_train1 = train_matrix
X_test1 = test_matrix
#y_train = train['sentiment']
#y_test = test['sentiment']

In [79]:
#The model

#rdfs = RandomForestClassifier(n_estimators=200, max_depth=3, random_state=0)(C=1e5)
#rdfs = RandomForestClassifier(max_depth=100, max_features='sqrt', min_samples_leaf=2, 
#min_samples_split=10, n_estimators=800) 

#svc=SVC(probability=True, kernel='linear')


#abc = AdaBoostClassifier(n_estimators=50, learning_rate=1)

abc = AdaBoostClassifier(XGBClassifier())
#abc = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), n_estimators=200)

#gbm = XGBClassifier(learning_rate=0.3, Random_state=5,n_estimator=200)

#dst = tree.DecisionTreeClassifier(max_depth=3)

#nb=MultinomialNB()

#clf = svm.SVC(C=100, class_weight='balanced', gamma=0.5, kernel='linear', probability=True) 

#lr = LogisticRegression(C=0.1)
#lr = LogisticRegression(random_state=42)
#regressor = XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
 #             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=0,
  #            importance_type='gain', interaction_constraints='',
              #learning_rate=0.300000012, max_delta_step=0, max_depth=6,
   #           min_child_weight=1, missing=0, monotone_constraints=1,
    #          n_estimators=100, n_jobs=12, num_parallel_tree=1,
     ####      validate_parameters=1, verbosity=3)


#regressor = xgb.XGBRegressor()

In [80]:
#lr = LogisticRegression(C=0.1)
#xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
   #             max_depth = 5, alpha = 10, n_estimators = 10)

In [81]:
#Training the model
#lr.fit(X_train1,train['label'])
#nb.fit(X_train1,train['label'])
#gbm.fit(X_train1,train['label'])
abc.fit(X_train1,train['label'])
#rdfs.fit(X_train1,train['label'])
#regressor.fit(X_train1,train['label'])

AdaBoostClassifier(base_estimator=XGBClassifier())

In [82]:
#Cs=(0.01, 1, 10, 100)

In [83]:
#from sklearn.model_selection import GridSearchCV
#lr= LogisticRegression()
#clf_CV= GridSearchCV(lr, param_grid= 0.1)
#clf_CV.fit(X_train1,train['label'])

In [84]:
#Make predictions
predictions1=abc.predict(X_test1)
len(predictions1)
#predictions1=abc.predict(X_test1)
#len(predictions1)
#predictions1=regressor.predict(X_test1)
#len(predictions1)

60

In [85]:
print(predictions1[:10])

[1 1 1 1 1 1 1 1 1 1]

Submission File

In [86]:
sample_submission = pd.read_csv('/content/sample_submission (2).csv')

In [87]:
sample_submission.head()

     id  label
0  1278    NaN
1  1721    NaN
2  1180    NaN
3  1009    NaN
4  1588    NaN

In [88]:
submission = {'id':sample_submission['id'],
              'label':predictions1}

In [89]:
submission_file = pd.DataFrame(submission)
submission_file.head()

     id  label
0  1278      1
1  1721      1
2  1180      1
3  1009      1
4  1588      1

In [90]:
submission_file.shape

(60, 2)

In [91]:
submission_file.set_index('id', inplace=True)
submission_file.head()

      label
id
1278      1
1721      1
1180      1
1009      1
1588      1

In [92]:
submission_file.to_csv('submission_file.csv')

In [93]:
submission_file.head()

      label
id
1278      1
1721      1
1180      1
1009      1
1588      1